# Ignorar carpetas node_modules en todos los subdirectorios
**/node_modules/
**/.vscode/

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de entorno
.env
.env.*

# Otros archivos temporales o específicos de sistema
.DS_Store
